<footer class="footer">
  <a class="buttonfooter" href="#hero" title="hero button">
    <img class="imgbuttonfooter" src="./assets/images/ico-arrow.svg" title="Go to top" alt="Go to top">
</a>
<section class="footermenu">
  <nav class="footermenulink">
    <ul class="listlink">
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="articles"
        >articles</a>
      </li> 
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="books"
        >books</a>
      </li>
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="events"
        >events</a>
      </li> 
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="reasons"
        >reasons</a>
      </li>     
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="tips"
        >tips</a>
      </li> 
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="twitter"
        >twitter</a>
      </li>
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="instagram"
        >instagram</a>
      </li> 
      <li>
        <a
        class="links"
        href="https://adalab.es/"
        target="_blank"
        title="mastodon.social"
        >mastodon.social</a>
      </li>           
   </ul>        
  </nav>
  <div class="footersmall">
    <small class="footersmallcopy"> &copy;2021 </small>
    <small class="footersmallclose">we <span class="heart">&#10084;</span> components</small>        >
  </div>
</section>
</footer>
