<footer class="footer">
    <nav class="menu">
        <ul class="menulink">
            <li class="link l1">articles</li>
            <li class="link l2">books</li>
            <li class="link l3">events</li>
            <li class="link l4">reasons</li>
            <li class="link l5">tips</li>
            <li class="link l6">twitter</li>
            <li class="link l7">instagram</li>
            <li class="link l8">mastodon.social</li>
        </ul>
        
    </nav>
    <div class="footersmall">
        <small class="footersmallcopy"> &copy;2021 </small>
        <small class="footersmallclose"
          >we <span class="heart">&#10084;</span> components</small
        >
      </div>
  
</footer>
