<section id="reasons" class="reasons">
    <h2 class="reasontitle">3 Reasons To Purchase</h2>  
   <!--<section class="reasontext">--> 
        <article class="reasontextart1">                    
            <h3 class="reasonsubtitle">Ut sed metus</h3>
            <p class="reasonparagraph">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="reasontextart2">
            <h3 class="reasonsubtitle">Curabitur ac erat</h3>
            <p class="reasonparagraph">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="reasontextart3">
            <h3 class="reasonsubtitle">Morbi dictum</h3>
            <p class="reasonparagraph">Aliquam in dolor et dolor tincidunt.</p>
        </article>
     
  <!-- </section>  -->
    <div class="bottonreason"><a class="reasonbotton" href="https://adalab.es/" title="Go adalab" >More reasons</a>     </div>
</section>
