
    <section class="reasons">
        <section class="reasontext">
            <h2>3 Reasons To Purchase</h2>
            <article class="reasontext art1">
                <h3>Ut sed metus</h3>
                <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </article>
            <article class="reasontext art2"></article> 
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </article>
            <article class="reasontext art3">
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </article>
        <div>more reasons</div>
        </section>
        
    </section>
