/*fuentes*/
$font-titles: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

/*colores*/
$color-menu: #0271bc;
$color-white: white;
$color-insomnia: #8ccbea;
$color-button: #f26002;
$color-background-main: #eff9ff;
$color-background-footer: #304268;
$color-subtitles: black;
$color-text: #4a4a4a;

/*márgenes*/
$margin-mobile: 15px;
$margin-tablet: 39px;
$margin-desktop: 275px;
