.footer {
  background-color: $color-background-footer;
  padding: 45px 15px 45px 15px;
  min-height: 465px;
  line-height: 1.88;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footermenu {
  color: $color-white;
  text-align: center;
}
.listlink {
  list-style: none;
  text-transform: uppercase;
  align-content: center;
}
.linkweb {
}
.linksocialmedia {
  padding-top: 30px;
}
.footersmall {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links {
  color: $color-white;

  text-decoration: none;
}

.buttonfooter {
  width: 45px;
  height: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -60px;
  /*width: 45px;
  height: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
