.footer {
  background-color: $color-background-footer;
  padding: 60px 15px 60px 15px;
  line-height: 1.88;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  @media all and (min-width: 768px) {
    padding: 45px 39px 45px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 45px 370px 45px 370px;
  }
}
.footermenu {
  color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
.footermenulink {
  list-style: none;
  text-transform: uppercase;
  align-content: center;

  @media all and (min-width: 768px) {
    flex-grow: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }
}
.linkweb {
  list-style: none;
  @media all and (min-width: 768px) {
    width: calc(100% - 30px);
  }
  @media all and (min-width: 1200px) {
    width: 100%;
    margin: 0 0 0 30px;
  }
}
.linksocialmedia {
  list-style: none;
  margin: 30px 0;
  @media all and (min-width: 768px) {
    width: calc(100% - 30px);
    margin: 0 0 0 30px;
  }
  @media all and (min-width: 1200px) {
    width: 100%;
    margin: 0 0 0 30px;
  }
}
.footersmall {
  @media all and (min-width: 768px) {
    flex-grow: 1;
    text-align: left;
    margin-right: 30px;
  }
}
.footersmallcopy {
  display: block;
  font-size: 14px;
  line-height: 2.14;
}
.footersmallclose {
  display: block;
  font-size: 14px;
  line-height: 2.14;
}
.links {
  color: $color-white;
  text-decoration: none;
}
.heart {
  color: $color-button;
}
.buttonfooter {
  position: absolute;
  top: -22.5px;
  left: calc(50% - 22.5px);
  width: 45px;
  height: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -60px;
  @keyframes intro {
    0% {
      background-color: $color-white;
    }
    50% {
      background-color: $color-button;
    }
  }
  animation-name: intro;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
