.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 53px;
}

.herotext {
  color: $color-white;
  text-align: center;
}
.herotitle {
  margin-top: 284px;
  font-family: $font-titles;
  size: 42px;
  text-transform: uppercase;
  word-spacing: 100vw;
  font-weight: bold;
  line-height: 1.31;
}
.herosubtitle {
  size: 16px;
  text-transform: capitalize;
  font-weight: regular;
  margin-top: 10px;
  margin-bottom: 45px;
}
.buttonhero {
  width: 45px;
  height: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
