.looking {
  box-sizing: border-box;
  min-height: 376px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 15px 45px 15px;
  width: 100%;
  @media all and (min-width: 768px) {
    padding: 15px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px 60px 275px;
  }
}
.lookingimsonia {
  font-size: 14px;
  color: $color-insomnia;
  text-transform: capitalize;
  margin-bottom: 1px;
  line-height: 2.14;
  @media all and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media all and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.lookingtitle {
  font-family: $font-titles;
  font-size: 24 px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 15px;
  @media all and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.73;
    margin-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
    line-height: 1.41;
  }
}
.lookingtext {
  line-height: 1.67;
  @media all and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5;
  }
}
.botton {
  display: flex;
  justify-content: left;
  text-align: end;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.lookingbotton {
  box-sizing: border-box;
  border: solid 2px $color-button;
  width: 74px;
  height: 45px;
  border-radius: 22.5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  text-align: center;
  text-decoration: none;
  color: $color-button;
  transition: background-color 0.8s ease, color 0.8s ease;
  &:hover {
    background-color: $color-button;
    color: $color-white;
  }
  @media all and (min-width: 768px) {
    width: 91px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
  }
}
