/* Estilos generales de todas las paginas y columna central con su responsive */

.page {
  font-family: $font-text;
  font-size: 18;
}

.centralcolumn {
  background-color: rgb(243, 181, 230);
  padding: 0 $margin-mobile;
  @media all and (min-width: 768px) {
    margin: 0 $margin-tablet;
  }
  @media all and (min-width: 1200px) {
    margin: 0 $margin-desktop;
  }
}
