* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lookreas {
  padding: 0 15px 0 15px;
}
@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/page";
@import "layout/hero";
@import "layout/looking";
@import "layout/reasons";
@import "pages/index";
