* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 18;
}

@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/hero";
@import "layout/looking";
@import "layout/reasons";
@import "layout/special_offer";
